.headerMainWrapper {
  background-color: #f4f4f4;
  height: 103px;
  display: flex;
  align-items: center;

  .headerTextWrapper {
    font-weight: 600;
    font-size: 28px;
    line-height: 40px;
    color: #2d2d2d;
    text-transform: capitalize;
  }
}
